@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 1465px;
    font-family: 'Roboto Slab', sans-serif;
    background-color: #F7F7F7;
}
/*-----------header-------------*/

.header{
    background-color: #FFFFFF;
    width: 100%;
    height: 182px;
}

.img_header_tomato{
    width: 100%;
}

.search{
    border: none;
    border-bottom: 2px solid #324950;
    width: 380px ;
    background: none;
}

.col-md-5 .search-icon{
    position: absolute;
    border: none;
    border-bottom: 2px solid #324950;
    background: none;
}


ul.nav_panel{
    list-style: none;
    display: flex;
}

nav ul li a{
    text-decoration: none;
    color:#324950;
    font-family: 'Heebo', sans-serif; 
    transition: 0.3s;
}

a:hover{
    color: #57984C;
    transition: 0.3s;
}

nav ul{
    display: flex;
    gap: 15px;

}
nav{
    margin-top: 50px;
    position: relative;
    right: 175px;
    font-size: 18px;
}

/*----------------center---------------------*/

.main{
    background: url('../img/Union_tomato.png');
    height: 100%;
}

.return{
    color: #57984C;
    text-decoration: none;
    transition: 0.3s;
    margin-top: 2%;
    margin-left: 6%;
}

.return:hover{
    color: #324950;
}

.name_tomato{
    margin-left: 20%;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 54px;
    line-height: 143%;
    letter-spacing: 0%;
    width: 526px;
    margin-top: 10%;
}

.name_tomato_tag{
    color: #324950;
}

.opus{
    color: #57984C;
}

.mult_tomato_one{
    margin-left: 21%;
    margin-top: 6%;
}

.red_img{
    width: 100px;
    height: 100px;
}

.red{
    position: relative;
    display: flex;
    list-style: none;
    margin-left: 15%;
    margin-top: 8%;
}
.red_text{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 30px;
    line-height: 143%;
    letter-spacing: 0%;
    color: #CF2333;
    margin-left: 8%;
}

.tomato_one_img{
    width: 400px;
    height: 400px;
    margin-top: 10%;
    margin-left: 8%;
}

.pdf {
    position: relative;
    width: 225px;
    height: 55px;
    border-width: 2px;
    border-radius: 60px;
    color: #57984C;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #57984C;
    background: none;
    cursor: pointer;
    gap: 10px; 
    margin-top: 8%;
    margin-left: 25%;
    transition: 0.3s;
    z-index: 1;
}

.pdf::before {
    content: "";
    display: inline-block;
    width: 30px; 
    height: 30px; 
    background-image: url('../img/ico_pdf.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.charact_name, .plant_name, .cycle_name{
    position: relative;
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 20px;
    line-height: 143%;
    letter-spacing: 0%;
    color: #57984C;
}

.charact_lot{
    position: relative;
    margin-top: 2%;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 17px;
    line-height: 163%;
    letter-spacing: 0%;
}

.rest{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 17px;
    line-height: 163%;
    letter-spacing: 0%;
    color: #324950;
}

.charact{
    margin-left: 12%;
    margin-top: -10%;
}

.plant{
    margin-left: 23%;
    margin-top: 10%;
}

.plant_list{
    margin-left: -2%;
}

.plant_list_element{
    color: #57984C;
}

.plant_li{
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 17px;
    line-height: 200%;
    letter-spacing: 0%;
    color: #324950;
}

.cycle{
    margin-top: 10%;
    margin-left: 10%;
}

/*------------footer----------------------*/
.footer{
    width: 100%;
    height: 140px;
    background-color: #324950;
}

.footer_first{
    width: 100%;
    height: 76px;
    background-color: #2D3F45;
}

.footer_list_items{
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 143%;
    color: #FFFFFF;
    margin-top: 28px;
}

.prof, .manag, .prod, .r_a_d, .link, .s_map, .contact{
    padding-left: 40px;
}

.prof{
    margin-left: 100px;
}

.info_footer{
    font-family: Roboto;
    font-weight: 400;
    font-size:15px;
    line-height: 143%;
    letter-spacing: 0%;
    text-align: center;
    color: #B9B9B9;
    margin-top: 25px;
}

.footer_imgs_list {
    display: flex;
    list-style: none;
    margin-top: 26px;
    padding-left: 330px;
}

.footer_imgs_list li{
    margin-right: 10px;
}

@media (max-width:1024px){

    body{
         height: auto;
         text-align: center;
    }

    .header{
        width: 100%;
        text-align: center;
    }

    .nav_panel{
        text-align: center;
        font-size: 70%;
        margin-top: 25%;
        margin-left: -50%;
    }

    .search{
        width: 50%;
        margin-left: -50%;
    }

    .name_tomato{
        font-size: 45px;
        margin-left: 50%;;
    }

    .tomato_one_img{
        width: auto;
        margin-top: 100%;
        margin-left: -100%;
    }

    .return{
        text-align: left;
    }

    .red{
        margin-left: 50%;
        width: 100%;
    }

    .charact{
        margin-left: -2%;
        margin-top: 5%;
    }

    .pdf{
        margin-left: -20%;
    }

    .plant{
        margin-left: -2%;
    }

    .footer{
        width: auto;
        height: 150px;
    }

    .footer_first{
        width: auto;
        text-align: center;
        height: 100px;
    }

    .footer_imgs{
        margin-left: -90%;
        margin-top: 12%;
        text-align: center;
    }
}

@media (max-width:768px){
    body{
        height: auto;
        text-align: center;
   }

   .header{
       width: 100%;
       text-align: center;
   }

   .nav_panel{
       text-align: center;
       font-size: 70%;
       margin-top: 25%;
       margin-left: -50%;
   }

   .search{
       width: 50%;
       margin-left: 5%;
   }

   .name_tomato{
       font-size: 45px;
       margin-left: 15%;;
   }

   .tomato_one_img{
       width: auto;
       margin-top: 20%;
       margin-left: 10%;
   }

   .return{
       text-align: left;
   }

   .mult_tomato_one{
    margin-left: -1%;
   }

   .red{
       margin-left: 13%;
       width: 100%;
   }

   .charact{
       margin-left: -2%;
       margin-top: 5%;
   }

   .pdf{
       margin-left: 35%;
   }

   li{
    list-style: none;
   }

   .cycle, .color{
    margin-left: -2%;
   }

   .plant{
       margin-left: -2%;
   }

   .footer{
       width: auto;
       height: 450px;
   }

.footer_list_items{
    display: list-item;
    margin-left: 20%;
    width: 250px;
    height: 150px;
}

   .footer_first{
       width: auto;
       text-align: center;
       height: 300px;
   }

   .prof{
    margin-left: 36%;
   }

   .manag{
    margin-left: 35%;
   }

   .prod{
    margin-left: 38%;
   }

   .r_a_d{
    margin-left: 38%;
   }

   .link, .s_map, .contact{
    margin-left: 38%;
   }

   .footer_imgs_list li{
       margin-top: -50px;
       width: 150px;
   }

   .inst, .y_t, .tw, .fb{
    margin-left: -10%;
   }

   .in{
    margin-left: 48%;
   }

   .info_footer{
    margin-top: 10%;
   }
}

@media (max-width:640px){
    .nav_panel li{
        display: none;
    }
    body{
        height: auto;
        text-align: center;
   }

   .header{
       width: 100%;
   }

   .nav_panel{
       text-align: center;
       font-size: 70%;
       margin-top: 25%;
       margin-left: -50%;
   }

   .search{
       width: 50%;
       margin-left: 5%;
   }

   .name_tomato{
       font-size: 45px;
       margin-left: 5%;;
   }

   .tomato_one_img{
       width: auto;
       margin-top: 30%;
       margin-left: 5%;
   }

   .return{
       text-align: left;
   }

   .red{
       margin-left: 5%;
       width: 100%;
   }

   .charact{
       margin-left: -2%;
       margin-top: 5%;
   }

   .pdf{
       margin-left: 35%;
   }

   .plant{
       margin-left: -2%;
   }

   .footer{
       width: auto;
       height: 300px;
   }

   .footer_list_items{
    font-size: 12px;
   }

   .footer_first{
       width: auto;
       text-align: center;
       height: 200px;
   }

   .in{
    margin-left: 40%;
   }

   .footer_imgs{
       margin-top: -3%;
       text-align: center;
   } 
}

@media (max-width:480px){

    .nav_panel li{
        display: none;
    }

    body{
        height: auto;
        text-align: center;
   }

   .header{
       width: 100%;
   }

   .search{
       width: 50%;
       margin-left: 5%;
   }

   .name_tomato{
       font-size: 25px;
       margin-left: -10%;
   }

   .tomato_one_img{
       width: auto;
       margin-left: -2%;
   }

   .return{
       text-align: left;
   }
   
   .red_text{
    font-size: 25px;
   }

   .red{
    margin-left: -2%;
       width: 100%;
   }

   .charact{
       margin-left: -2%;
       margin-top: 5%;
   }

   .pdf{

       margin-left: 20%;
   }

   .plant{
       margin-left: -2%;
   }

   .footer{
       width: auto;
       height: 300px;
   }

   .footer_first{
       width: auto;
       text-align: center;
       height: 200px;
   }


   .footer_list_items{
    margin-left: 2%;
   }

   .in{
    margin-left: 10%;
   }

   .footer_imgs{
       text-align: center;
   } 
}

@media (max-width:400px){
    .nav_panel li{
        display: none;
    }

    body{
        height: auto;
        text-align: center;
   }

   .header{
       width: 100%;
   }

   .search{
       width: 50%;
       margin-left: 5%;
   }

   .name_tomato{
       font-size: 25px;
       margin-left: -20%;
   }

   .tomato_one_img{
       width: auto;
   }

   .return{
       text-align: left;
   }
   
   .red_text{
    font-size: 25px;
   }

   .red{
    margin-left: -2%;
       width: 100%;
   }

   .charact{
       margin-left: -2%;
       margin-top: 5%;
   }

   .pdf{

       margin-left: 20%;
   }

   .plant{
       margin-left: -2%;
   }

   .footer{
       width: auto;
       height: 300px;
   }

   .footer_first{
       width: auto;
       text-align: center;
       height: 200px;
   }


   .footer_list_items{
    margin-left: 2%;
   }

   .in{
    margin-left: 10%;
   }

   .footer_imgs{
       text-align: center;
   } 
}

@media (max-width:320px){
    .nav_panel li{
        display: none;
    }

    body{
        height: auto;
        text-align: center;
   }

   .header{
       width: 100%;
   }

   .search{
       width: 50%;
       margin-left: 5%;
   }

   .name_tomato{
       font-size: 25px;
       margin-left: -35%;
   }

   .tomato_one_img{
       width: 100%;
       height: 100%;
   }

   .return{
       text-align: left;
   }
   
   .red_text{
    font-size: 25px;
   }

   .red{
    margin-left: -2%;
       width: 100%;
   }

   .charact{
       margin-left: -2%;
       margin-top: 65%;
   }

   .pdf{

       margin-left: 20%;
   }

   .plant{
       margin-left: -2%;
   }

   .footer{
       width: auto;
       height: 300px;
   }

   .footer_first{
       width: auto;
       text-align: center;
       height: 200px;
   }


   .footer_list_items{
    margin-left: -15%;
   }

   .in{
    margin-left: -5%;
   }

   .footer_imgs{
       text-align: center;
   } 
}